.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
  color: black;
}
@media (max-width: 768px) {
  .layout {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    height: auto;
  }

  .search-article-container {
    width: 100%;
    margin-left: 20px;
  }

  .article-inputs {
    width: 100%;
  }

  .article-input {
    flex-direction: column;
    align-items: flex-start;
  }

  .article-input textarea,
  .article-input input {
    width: 100%;
  }

  .buttonSelect {
    width: 100%;
    margin: 10px 0;
  }

  .login-container {
    padding: 20px 40px 60px 4 0px;
  }
}

.layout {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.sidebar {
  width: calc(15% + 100px);
  transition: width 0.3s ease;
  margin: 30px;
  padding: 20px;
  background-color: #fff;
  border-radius: 40px;
  border: 1px;
  overflow-x: auto;
  scrollbar-width: thin;
}

.menu-title {
  font-size: 25px;
  color: #404043;
  margin: 5px;
  font-weight: 450;
}

.rc-menu {
  border: none;
  box-shadow: none;
  margin: 0%;
  padding: 0%;
}

.rc-menu-item-active,
.rc-menu-submenu-active > .rc-menu-submenu-title {
  background-color: #e8e8e8;
}

.rc-menu-item-selected {
  transform: translateZ(0);
  background-color: #ced0d1;
}

.rc-menu-submenu-selected {
  background-color: #ced0d1;
  box-shadow: inset 0 0 0 1px #ccc;
}

.article-input {
  width: 100%;
  flex-wrap: wrap;
}

.article-input label {
  font-size: 15px;
  color: #404043;
}

.article-input textarea,
.article-input input {
  width: 100%;
  height: 45px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 13px;
}

.article-input textarea {
  min-height: 60px;
  max-height: 200px;
  resize: vertical;
}

.buttonArticle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 40px;
  border: none;
  background-color: #ffffff;
  font-size: 16px;
  color: #404340;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.buttonSelect {
  width: calc(100% - 10px);
  height: 30px;
  border: none;
  color: #056bf1;
  background-color: #ffffff;
  font-size: 20px;
  cursor: pointer;
  transition: transform 0.3s ease;
  margin-bottom: 10px;
}

.buttonSelect:hover {
  transform: scale(1.02);
}

.buttonSelect.getData {
  margin-top: 5px;
  border-radius: 15px;
  height: 60px;
  color: white;
  background-color: #056bf1;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 520px;
  height: 100%;
  max-height: 370px;
  padding: 20px 60px 60px 60px;
  background-color: #ffffff;
  border-radius: 33px;
}

.login-header {
  color: #333;
  font-size: 37px;
  font-weight: 700;
  margin-bottom: 5px;
}

.login-form {
  position: relative;
  width: 77%;
}

.login-input-group {
  margin-bottom: 25px;
  margin-top: 10px;
}

.login-label {
  display: block;
  margin-bottom: 0px;
  font-size: 19px;
  font-weight: 500;
  color: #555;
}

.login-input {
  width: 92%;
  padding: 15px;
  border-radius: 15px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.login-button {
  width: 100%;
  padding: 15px;
  font-size: 20px;
  border-radius: 15px;
  border: none;
  color: #fff;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}
.login-button.inactive {
  background-color: #a6a6a6;
  cursor: not-allowed;
}

.login-button.active {
  background-color: #296bf1;
  cursor: pointer;
}
.error-container {
  position: absolute;
  bottom: -50px;
  left: 0;
  width: 100%;
}

.login-error {
  text-align: center;
  color: red;
  font-size: 16px;
  margin-top: 10px;
}

.login-input.error {
  border-color: red;
}
.notfound-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
  flex-direction: column;
  text-align: center;
}

.notfound-content {
  max-width: 600px;
  padding: 20px;
}

.notfound-header {
  font-size: 10rem;
  font-weight: 900;
  color: #ff6b6b;
  margin: 0;
  animation: pulse 1.5s infinite;
}

.notfound-subheader {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #333;
}

.notfound-text {
  font-size: 1.2rem;
  margin-bottom: 40px;
  color: #666;
}

.notfound-button {
  padding: 10px 20px;
  font-size: 1.1rem;
  color: white;
  background-color: #ff6b6b;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.notfound-button:hover {
  background-color: #ff3b3b;
}

.content {
  flex: 1;
  overflow: auto;
  padding: 30px 30px 30px 0px;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
